<div id="comboCont">
    <br>
    <div id="responseCont" style="color: magenta;">
        <span id="response"></span><img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c540.png" id="emoteimg">
    </div>
</div>