@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

#response{
    font-size: 30pt;
    position: top;
    font-family: 'Dela Gothic One', cursive;
    background-color: rgba(37, 222, 255, 0.521);
    border-radius: 10px;
    padding: 4px;
    text-align: center;
}
#emoteimg{
    width: 300px;
    height: 300px;
}