<div class="row align-items-center" id="comboCont">
    <div class="col count-col">
        <span id="responseEmote"></span>
    </div>
    <div class="col img-col">
        <img src="./img/none.png" id="emoteimg">
    </div>
</div>