@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

#responseEmote{
    font-size: 30pt;
    position: top;
    font-family: 'Dela Gothic One', cursive;
    background-color: rgba(37, 222, 255, 0.521);
    padding: 8px;
    text-align: center;
    color: magenta;
}
.img-col{
    text-align: left;
}
.count-col{
    text-align: right;
}
#responseCount{
    font-size: 30pt;
    position: top;
    font-family: 'Dela Gothic One', cursive;
    background-color: rgba(37, 222, 255, 0.521);
    border-radius: 10px;
    padding: 4px;
    text-align: center;
}

#emoteimg{
    width: 200px;
    height: 200px;
}